# Don't re-download node_modules every time. Cache it
cache:
  paths:
    - node_modules/

validate:
  stage: test
  script:
    - npm run lint
    - yarn install
    - npm test

deploy:
  stage: deploy
  script: deploy
  only: [master, dev, /^dev-.*$/]
  variables:
    SERVER: gramener.com
    URL: comicgen
    VERSION: static
    SETUP: yarn install && npm run build
