/*  UI component styles. Customize via ?bootstrap-variable=encoded-value. Example:
    Colors. Can be a name or a number (e.g. %23aabbcc). Preserve the hues below.
      primary=blue
      success=green
      info=cyan
      warning=orange
      danger=red
      secondary=grey
      light=lightgrey
      dark=darkgrey
      body-bg=white
      body-color=black
    Fonts. Can be a system font or Open+Sans, Roboto, Lato, Anton, Monserrat
      font-family-base=Segoe+UI
      headings-font-family=Segoe+UI
    Other
      https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss
*/
@import url("ui/bootstraptheme.css?body-bg=white&navbar-dark-color=rgba(255%2C255%2C255%2C.8)&navbar-dark-hover-color=white");
@import url("ui/font-awesome/css/font-awesome.min.css");


/* custom styles for app: deeday2 */
